.game-area {
    position: relative;
    width: 100%;
    height: 500px;
    background: #eee;
    border: 2px solid black;
    margin-top: 20px;
    overflow: hidden;
}

.target-circle {
    position: absolute;
    background: red;
    border-radius: 50%;
    cursor: pointer;
}
